@import (reference) '../../../styles/variables';
@import (reference) '../../../styles/mixins';

.jodit-tabs {
	.font();
	// 임시
	width: 280px;
	// padding: 20px 24px;

	.jodit-tabs__buttons {
		position: relative;
		z-index: 1;
		top: 0;
		width: calc(100% - 48px);
		margin: 0 24px;
		background-color: white;
		display: flex;
		justify-content: flex-start;
		gap: 30px;
		line-height: 18px;

		border-bottom: 1px solid #e0e0e0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		overflow: hidden;

		> * {
			margin-left: 0;
			cursor: pointer;

			&:only-of-type {
				width: auto;
			}

			&:first-child {
				margin-left: 0;
			}
		}

		@media (max-width: @screen-xs) {
			display: block;

			> * {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	&__button {
		display: flex;
		min-width: auto;
		padding: 0;
		padding-bottom: 10px;
		min-height: auto;
		height: auto;
		background: white !important;
		border-radius: 0;

		&[aria-pressed='true'] {
			border-bottom: 2px solid #9013fe;

			.jodit-ui-button__text {
				font-weight: 600;
				color: #9013fe;
			}
		}

		&_columns_1 {
			// width: 20px;
		}

		&_columns_3 {
			width: auto;
		}

		&_columns_2 {
			width: auto;
		}

		.jodit-ui-button__icon {
			display: none;
		}

		.jodit-ui-button__text {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: var(--color-label);
			margin-left: 0 !important;
			padding: 0 !important;
		}
	}

	.jodit-tabs__title {
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		background-color: white;

		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: #242a3c;
		padding: 20px 18px 0px 18px;
	}

	.jodit-tabs__wrapper {
		position: relative;
		box-sizing: content-box;
		width: auto;

		padding: 0;

		.jodit-tab {
			display: none;

			&.jodit-tab_active {
				display: block;
			}

			&.jodit-tab_empty {
				min-width: 220px;
				min-height: 100px;
			}
		}
	}
}
