@import (reference) '../../../styles/variables';
@import (reference) '../../../styles/mixins';

.jodit-tabs {
	.font();

	.jodit-tabs__buttons {
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		background-color: white;
		display: flex;
		justify-content: center;
		line-height: 18px;
		border-bottom: 1px solid #E0E0E0;
		border-top-left-radius: var(--border-radius-default);
		border-top-right-radius: var(--border-radius-default);
		overflow: hidden;

		> * {
			margin-left: calc(var(--padding-default) / 2);
			cursor: pointer;

			&:only-of-type {
				width: 100%;
			}

			&:first-child {
				margin-left: 0;
			}
		}

		@media (max-width: @screen-xs) {
			display: block;

			> * {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	&__button {
		min-width: 80px;
		padding-top: 6px;
		min-height: 50px;
		background: white !important;
		border-radius: 0;

		&[aria-pressed="true"] {
			border-bottom: 2px solid #9013FE;

			.jodit-ui-button__text {
				font-weight: 600;
				color: #9013FE;
			}
		}

		&_columns_3 {
			width: calc(100% / 3);
		}

		&_columns_2 {
			width: 50%;
		}

		.jodit-ui-button__icon {
			display: none;
		}

		.jodit-ui-button__text {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: var(--color-label);
		}
	}

	.jodit-tabs__title {
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		background-color: white;

		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		color: #242A3C;
		padding: 20px 18px 0px 18px;
	}

	.jodit-tabs__wrapper {
		position: relative;
		box-sizing: content-box;
		width: 264px;

		padding: 62px 20px 20px 20px;

		.jodit-tab {
			display: none;

			&.jodit-tab_active {
				display: block;
			}

			&.jodit-tab_empty {
				min-width: 220px;
				min-height: 100px;
			}
		}
	}

}
